$cor-notas: #ababab;

@mixin centralizar{
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    @include centralizar;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid $cor-notas;
    margin: 0px 15px 0px 15px;
}

div, p{
    cursor: pointer;
    font-size: 10px;
    font-weight: lighter;
    transition: transform .4s ease-in-out, background-color .2s ease-in-out;
    

    &:hover{
        background-color: lighten($color: $cor-notas, $amount: 100);
        transform: scale(1.4);
    }

    &:active{
        background-color: rgba(226, 100, 90, 1);
    }
}