.titulo{
    font-weight: lighter;
    margin-bottom: 5%;
}

.enviar{
    background-color: #bee6ff;
    font-size: 18px;
    padding: 5px;
    border: 0px;
    border-radius: 10px;
    float: right;
    cursor: pointer;
}

p{
    color: #a0a0a0;
    font-size: 15px;
    margin: 5% 0% 5% 0%;
}