.section{
    height: 100vh;
    position: relative;
    background-color: #2f2f2f;
    font-family: roboto;
    .div-contato{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}