<div class="barra">
  <h3>Qual a probabilidade de você recomendar o Lejour para outra pessoa?</h3>
  <div class="notas">
    <div class="com-legenda">
      <app-nota [nota]=0></app-nota>
      <div class="absolute animated fadeIn">
        <p class="left">Não recomendaria</p>
      </div>
    </div>
    <app-nota [nota]=1></app-nota>
    <app-nota [nota]=2></app-nota>
    <app-nota [nota]=3></app-nota>
    <app-nota [nota]=4></app-nota>
    <app-nota [nota]=5></app-nota>
    <app-nota [nota]=6></app-nota>
    <app-nota [nota]=7></app-nota>
    <app-nota [nota]=8></app-nota>
    <app-nota [nota]=9></app-nota>
    <div class="com-legenda">
      <app-nota [nota]=10></app-nota>
      <div class="absolute animated fadeIn">
        <p>Recomendaria com certeza</p>
      </div>
    </div>
  </div>
</div>
