<div class="barra">
  <h3>Qual a probabilidade de você recomendar o Lejour para outra pessoa?</h3>
  <div class="notas">
    <div>
      <p>0</p>
    </div>
    <div>
      <p>1</p>
    </div>
    <div>
      <p>2</p>
    </div>
    <div>
      <p>3</p>
    </div>
    <div>
      <p>4</p>
    </div>
    <div>
      <p>5</p>
    </div>
    <div>
      <p>6</p>
    </div>
    <div>
      <p>7</p>
    </div>
    <div>
      <p>8</p>
    </div>
    <div>
      <p>9</p>
    </div>
    <div>
      <p>10</p>
    </div>
  </div>
</div>
