$cor-notas: #ababab;

@mixin centralizar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra{
    width: 100vw;
    height: 18vh;
    background-color: rgb(200, 240, 255);
    position: fixed;
    bottom: 50px;
    padding-top: 2%;
    font-family: 'Roboto';
    text-align: center;
    color: $cor-notas;
    
    h3{
        font-size: 17px;
        font-weight: lighter;
    }

    .notas{
        @include centralizar;
        height: 50%;

        .com-legenda{
            
            p{
                margin-top: 5px;
                position: relative;
                font-size: 12px;
                
                &.left{
                    left: -50%;
                }
            }

        }
    }
}