/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
}

body{
  font-family: Roboto;
}

.alinhar-v{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.alinhar-h{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}