$cor-principal: rgba(226,100,90, .7);

@mixin fonte-principal{
  font-family: 'Roboto';
}

.section {
  height: 100vh;
  padding: 5vmax;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
  
  &.home {
    background-color: $cor-principal;

    .titulo{
      @include fonte-principal;
      font-weight: lighter;
      font-size: 82px;
      
      h3{
        font-weight: inherit;
      }

      h6{
        font-size: initial;
        font-weight: inherit;
      }
    }

  }
  &.conteudo {
    background-color: lighten($color: $cor-principal, $amount: 30);
  }
}